:root{
    --slate-black: hsl(0, 0%, 0%);
    --slate-yellow: hsl(47, 88%, 63%);
    --slate-white: hsl(0, 0%, 100%);
    --slate-gray-500: hsl(0, 0%, 42%);
    --slate-gray-950: hsl(0, 0%, 7%);
}

html, body {
    background-color: var(--slate-yellow);
    height: 100%;
    margin: 0;
    font-family: "Figtree", sans-serif;
}

main {
    height: calc(100vh - 60px);
}

img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
        background-color: var(--slate-white);
    width: 384px;
    height: 522px;
    border-radius: 20px;
    border: 2px solid var(--slate-gray-950);
    padding: 24px;
    box-shadow: 10px 10px;
}

.card-image {
    object-fit: fill;
    max-height: 200px;
}

.card-content-tag {
    width: 80px;
    height: 28px;
    border-radius: 4px;
    background-color: var(--slate-yellow);
    text-align: center;
    justify-content: center;  
    align-items: center;
    display: flex;
    margin-top: 24px;
}

.card-content-published {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 700;
}

.card-content-title {
    font-size: 27px;
    margin-top: 12px;
    font-weight: 800;
    color: black;
    cursor: pointer;
}

.card-content-title:hover {
    color: var(--slate-yellow)
}

.card-content-desc {
    margin-top: 12px;
    font-size: 17px;
    font-weight: 500;
    color: var(--slate-gray-500);
    line-height: 0.75cm;
    text-align: left;
}

.card-content-author-wrapper {
    display: flex;
    width: 140px;
    height: 32px;
    margin-top: 24px;
    padding: 0px;
    justify-content: left;
    align-items: center;
}

.card-content-author-photo {
    width: 32px;
    height: 32px;
}


.card-content-author-name {
    font-size: 14px;
    margin-left: 12px;
}

.attribution {
    text-align: center;
}

@media (max-width: 375px) and (max-height: 812px) {
    .card-image {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .card {
        max-width: 327px;
        max-height: 400px;
        padding: 24px;
        box-shadow: 8px 8px;
        border-width: 1px;
        border-radius: 20px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .card-wrapper {
        margin-left: 24px;
        margin-right: 24px;
    }

    .card-content-title {
        font-size: 18px;
        margin-top: 12px;
    }

    .card-content-desc {
        font-size: 14px;
        line-height: 0.6cm;
    }

    .card-content-author-wrapper {
        justify-content: left;
        align-items: center;
    }

    .card-content-author-name {
        font-size: 14px;
        margin-left: 12px;
    }
}